<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="userDao" class="cn.pjx.springlite.UserDao" init-method="init" destroy-method="destroy"/>-->

    <bean id="proxyUserDao" class="cn.pjx.springlite.ProxyBeanFactory"/>

    <bean id="userService" class="cn.pjx.springlite.UserService">
        <property name="username" value="10001"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean class="cn.pjx.springlite.event.ContextRefreshedEventListener"/>

    <bean class="cn.pjx.springlite.event.CustomerEventListener"/>

    <bean class="cn.pjx.springlite.event.ContextClosedEventListener"/>

</beans>